/* Style pour le reset de la page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #00D619;
}


/* Style pour le body */
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.02rem;
    color: black;
    line-height: 1.12rem;
}

/* Style pour le header */
header {
    padding: 10px 0;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    line-height: 2rem;
}

h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.pré-sélection-container {
    margin-top: 20px;
    padding: 20px;
}

.pré-sélection-container2 {
    padding: 15px;
}

.pré-sélections-img {
    width: 130px;
    height: 90px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pré-sélections-img:hover,
.clubs-img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* Style pour la barre de navigation */
form {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(238, 238, 238, 0.836);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style pour les boutons dans le formulaire */
form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Style pour les liens dans le formulaire */
form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

.clubs-img {
    margin: 10px;
}

.clubs-container {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(238, 238, 238, 0.836);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulaire-clubs {
    margin-bottom: 2px;
    background-color: rgba(238, 238, 238, 0.836);
    border-radius: 5px;
    background-color: #eeeeee;
}

.clubs-container {
    margin-top: 2px;
}

/* Style pour le footer */
footer {
    margin-top: 5px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
    color: black;
}

footer p {
    margin: 0;
    color: black;
}